<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>E-Notes_Project</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBconnect</display-name>
    <servlet-name>DBconnect</servlet-name>
    <servlet-class>com.Db.DBconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBconnect</servlet-name>
    <url-pattern>/DBconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>com.User.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>com.Dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotesServlet</display-name>
    <servlet-name>AddNotesServlet</servlet-name>
    <servlet-class>com.Servlets.AddNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotesServlet</servlet-name>
    <url-pattern>/AddNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>